/*box sizing et police*/
body {
    font-family: "Raleway", "Arial", "sans-serif";
    box-sizing: border-box;
    margin: 0 3%;
}

/*header*/

#entete {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo_booki {
    margin-right: auto;
    height: 60px;
}

#entete nav {
    display: flex;
    padding-right: 32px;
}

.lien {
    padding: 45px 30px;
    text-decoration: none;
    color: black;
    border-top: 3px solid transparent;
}

.lien:hover {
    border-top-color: blue;
    color: blue;
}

/*fin du header*/

/*début section 1 formulaire et filtres*/

/*Formulaire*/

form {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
}

form>label {
    padding: 14px;
    border-radius: 16px 0 0 16px;
    background-color: #F2F2F2;
}

form input {
    border: 1px solid #F2F2F2;
    font-size: 16px;
    font-weight: bold;
    padding: 14px 0 11px 20px;
}

form h1 {
    font-size: 25px;
}

form button {
    border-radius: 0 16px 16px 0;
    background-color: #0065fc;
    border: none;
    color: white;
    font-weight: bold;
    font-size: 15px;
    height: 46px;
    padding: 14px;
    cursor: pointer;
}

form button:hover {
    box-shadow: 1px 1px 10px #F2F2F2;
}

.mobile_search {
    display: none;
}


/*début filtres*/

.filters {
    display: flex;
    padding-top: 40px;
    flex-wrap: wrap;
    align-items: center;
    gap: 20px;
}

.filters h3 {
    display: flex;
    margin-right: 20px;
}

.filters_only {
    display: flex;
    flex-wrap: wrap;
}

.filters-items p {
    margin: 0;
    padding-right: 20px;
    cursor: pointer;
}

.filters-items {
    display: flex;
    align-items: center;
    font-weight: bold;
    border: 3px solid #F2F2F2;
    border-radius: 30px;
    border-left: none;
    margin-right: 20px;
    margin-bottom: 10px;
}

.filters-items:hover {
    background-color: #DEEBFF;
}

.filters-items .fa-solid {
    background-color: #DEEBFF;
    border-radius: 30px;
}

.filters-items .fa-solid {
    padding: 14px;
    margin-right: 10px;
    color: blue;
}

.filters span {
    margin-right: 10px;
}

/*fin des filtres*/

/*barre information*/
.icon-info {
    display: flex;
    align-items: center;
    margin: 20px 0;
}

.fa-solid.fa-info {
    border: 1px solid #F2F2F2;
    border-radius: 50%;
    color: #0065fc;
    width: 25px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 11px;
}

/*Fin section 1*/

/*début section 2*/

.hebergements_populaires {
    display: flex;
    gap: 20px;
}

.hebergements_populaires>div {
    border-radius: 16px;

}

.hebergements_populaires h3 {
    padding-left: 20px;
    padding-top: 10px;
}

/*Hébergement mis en avant*/

.hebergements {
    background-color: #F2F2F2;
    width: 66%;
}

.hebergements a {
    text-decoration: none;
    color: inherit;
}

.card-hebergement {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-around;
}

.card {
    background-color: white;
    border-radius: 16px;
    padding: 5px;
    box-shadow: 0 0 8px darkgray;
    margin: 10px 20px 20px 10px;
    transition: 0.2s;
    width: 250px;
}

.card img {
    border-radius: 16px 16px 0 0;
    width: 100%;
    height: 120px;
    object-fit: cover;
}

.card p {
    margin: 5px;
}

.card h4 {
    margin: 5px;
}

.card:hover {
    transform: scale(1.02);
    box-shadow: 0 0 8px blue;
    cursor: pointer;
}

.card .stars {
    margin-top: auto;
}

.stars .star-blue {
    color: blue;
}

.stars .star-grey {
    color: gainsboro;
}

/*Les plus populaires*/

.popular {
    display: flex;
    flex-direction: column;
    background-color: #F2F2F2;
    width: 33%;
}

.popular a {
    text-decoration: none;
    color: inherit;
}


.popular h3 {
    display: flex;
    justify-content: space-between;
    padding-right: 20px;
    margin-bottom: 10px;
}

.card-popular {
    display: flex;
    height: 144px;
    background-color: white;
    padding: 5px;
    border-radius: 15px;
    margin: 22px 40px 33px 37px;
    box-shadow: 0 0 8px darkgray;
    transition: 0.2s;
}

.card-popular:hover {
    transform: scale(1.02);
    box-shadow: 0 0 8px blue;
    cursor: pointer;
}

.card-popular img {
    object-fit: cover;
    border-radius: 16px 0 0 16px;
    width: 40%;
}

.card-description {
    background-color: white;
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card-description p,
.card-description h4 {
    margin: 3px;
}



/*fin section 2 */

/*Début section 3*/

.activities {
    margin: 4% 0;
}

.activities-list {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    transition: 0.2s;
    min-height: 400px;
}

.vertical-center {
    display: flex;
    align-items: center;
    margin-left: 10px;
}

.dual-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
}

.dual-card50 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-height: 50%;
    width: 100%;
}

.param-card-activity {
    display: flex;
    flex-direction: column;
    border-radius: 16px;
    box-shadow: 0 0 8px darkgrey;
}

.card-100 {
    height: 420px;
    width: 100%;
}

.card-60 {
    height: 240px;
    width: 100%;
}

.card-40 {
    height: 160px;
    width: 100%;
}

.card-50 {
    height: 200px;
    width: 100%;
}

.card-100:hover {
    transform: scale(1.02);
    box-shadow: 0 0 8px blue;
    cursor: pointer;
}

.card-60:hover {
    transform: scale(1.02);
    box-shadow: 0 0 8px blue;
    cursor: pointer;
}

.card-50:hover {
    transform: scale(1.02);
    box-shadow: 0 0 8px blue;
    cursor: pointer;
}

.card-40:hover {
    transform: scale(1.02);
    box-shadow: 0 0 8px blue;
    cursor: pointer;
}

.card-100 img {
    width: 100%;
    height: 400px;
    object-fit: cover;
    border-radius: 16px 16px 0 0;
}

.card-60 img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 16px 16px 0 0;
}

.card-50 img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 16px 16px 0 0;
}

.card-40 img {
    width: 100%;
    height: 100px;
    object-fit: cover;
    border-radius: 16px 16px 0 0;
}

/*Fin de la section 3*/

/*Début du footer*/

#footer {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    background-color: #F2F2F2;
    padding: 30px;
    margin: 0 -3%;
}

#footer a {
    text-decoration: none;
    color: black;
}

#footer a:hover {
    color: blue;
}

#footer h4 {
    margin: 0 0 10px 0;
}

#footer p {
    margin: 0 0 12px 0;
}

.apropos {
    min-width: 30%;
    min-height: 100px;
}

.nos_hebergements {
    min-width: 30%;
    min-height: 100px;
}

.assistance {
    min-width: 30%;
    min-height: 100px;
}

/*Fin du footer*/

/*Début des médias queries*/

@media screen and (max-width: 992px)

/*tablette*/
    {
    #entete nav {
        padding-right: 0;
    }

    .mobile_search {
        display: none;
    }

    main {
        display: flex;
        flex-direction: column;
    }

    .hebergements_populaires {
        display: flex;
        flex-direction: column;
        height: inherit;
    }

    .hebergements {
        width: auto;
    }

    .card-hebergement {
        width: 100%;
    }

    .popular {
        width: auto;
    }

    .popular-list {
        display: flex;
    }

    .card-popular {
        min-width: 211px;
        max-width: 280px;
        height: 144px;
        margin: 10px;
    }
}

@media screen and (max-width: 767px)

/*smartphone*/
    {
    #entete {
        flex-direction: column;
        margin-bottom: 36px;
    }

    #entete .logo_booki {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0;
    }

    #entete nav {
        width: 100%;
        justify-content: space-around;
        padding-right: 0;
        padding-top: 20px;
    }

    .lien {
        border-bottom: 4px solid #F2F2F2;
        width: 100%;
        padding: 20px 0;
        text-align: center;
    }

    .lien:hover {
        border-bottom-color: blue;
        border-color: blue;
        border-top: none;
    }

    /*formulaire*/

    #formulaire {
        padding: 0 20px;
    }

    #formulaire form {
        width: 100%;
    }

    form input[type="text"] {
        width: 90%;
    }

    .positionnement {
        width: 100%;
    }

    .desk_search {
        display: none;
    }

    .mobile_search {
        display: inherit;
    }

    /*fin formulaire*/

    /*filtres*/

    .filters-items {
        margin-bottom: 17px;
        margin-right: 62px;
    }

    /*hébergements populaires*/

    .hebergements_populaires {
        display: flex;
        flex-direction: column-reverse;
        height: auto;
    }

    /*les plus populaires*/

    .popular {
        width: auto;
        height: auto;
    }

    .popular-list {
        display: flex;
        flex-direction: column;
    }

    .popular h3 {
        margin-left: 18px;
    }

    .card-popular {
        height: 144px;
        min-width: auto;
        max-width: 665px;
        margin: 11px 20px
    }

    /*hébergement*/
    .hebergements {
        width: auto;
        height: auto;
        background-color: white;
    }

    .card-hebergement {
        flex-direction: column;
        display: block;
    }

    .card {
        width: auto;
        height: auto;
    }

    .card img {
        height: 144px;
    }

    /*fin hébergement*/

    /*activités*/
    .activities {
        margin: 0 30px 0 20px;
    }

    .activities-list {
        flex-direction: column;
    }

    .param-card-activity {
        height: auto;
        width: auto;
    }


    .card-100 img {
        height: 190px;
    }

    .card-50 img {
        height: 190px;
    }

    .card-40 img {
        height: 190px;
    }

    .card-50 {
        margin-bottom: 20px;
    }

    .card-60 {
        margin-bottom: 20px;
    }

    .vertical-center {
        justify-content: flex-start;
        margin-left: 10px;
    }

    /*fin activités*/

    /*footer*/
    #footer {
        display: flex;
        flex-direction: column;
        margin: auto;
    }
}